<!DOCTYPE html>
<html>
    <head>
        <title>
            Donation Form
        </title>
        <link rel="stylesheet" type="text/css" href="../css/task_3_style.css">
        <script src="../js/task_3_valid.js"></script>
    </head>
    <body>
        <h1>Donor Information</h1>
        <form onsubmit="validateForm()">
            <label>Name</label>
            <input type="text" id="name"/>
            <br>
            <label>Phone</label>
            <input type="text" id="phone"/>
            <br>
            <label>Email:</label>
            <input type="text" id="email"/>
            <br>
            <label>Create Password(Min 8 characters)</label>
            <input type="password" id="password"/>
            <br>
            <label>Confirm Password</label>
            <input type="password" id="password"/>
            <br>
            <label>Donation Amount</label>
            <input type="text" id="damount">
            <div class="donation">
            <label>Payment method</label>
            <label><input type="radio" name="donation" value="bkash">Bkash</label>
            <label><input type="radio" name="donation" value="nagad">Nagad</label>
            <label><input type="radio" name="donation" value="bank">Bank</label>
            </div>
            <br>
            <h3>Terms & condition</h3>
            <input type="checkbox" name="terms">I read terms and condition<br>
            <br>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>