<!DOCTYPE html>
<html>
<head>
    <title>
        Bank Registration Form
    </title>
<link rel="stylesheet" href="static/style.css">
</head>
<body>
        <h1>Bank Management System</h1>
        <h3>Your Trusted Financial Partner</h3>
<h4>Customer Registration Form</h4>

<div class="container" id="form">
    <table>
    <tr><td>Full Name:</td><td><input type="text"></td></tr>
    <tr>
    <td>Date Of Birth:</td> <td><input type="Date"></td>
</tr>
<tr><td>Email:</td><td><input type="email"></td></tr>
<tr>
    <td>Gender:</td>
    <td><input type="radio" name="des"> Male
    <input type="radio" name="des">Female
    <input type="radio" name="des">Other</td>
</tr>
<tr><td>Account Type</td>
<td>
    <select name="Name" id="type">
        <option value="">-----Select-----</option>
        <option value="sv">Savings</option>
        <option value="ck">Checking</option>
        <option value="sme">SME</option>
    </select>
</td>
</tr>
<tr><td>Address:</td><td><textarea></textarea></td></tr>
<tr><td>Set Password:</td><td><input type="password"></td></tr>
<tr><td>Upload ID Proof:</td><td><input type="file" name="Photo"></td></tr>
<tr><td>   </td><td><div class="button"><button type="submit"class="btn">Register<button type="reset"class="btn">Clear</td></tr> </div>
</tr>
</table>
</div>
</body>
</html>